.account__tabs {
    display: flex;
    border-right: 2px solid var(--admss-app-light-blue);
}

.account__tabs .p-tabview-nav {
    flex-direction: column;
    flex: 0 0;
    width: 294px;
    border: none;
    min-height: 527px;
    border-right: 5px solid var(--admss-app-light-blue);
    gap: 10px;
}

.account__tabs .p-tabview-panels {
    flex: 1;
    padding-top: 0;
}

.account__tabs > .p-tabview-nav-container a.p-tabview-nav-link {
    color: var(--admss-app-primary);
    border: none;
}

.p-tabview .p-tabview-nav .p-tabview-selected .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}

.account__tabs > .p-tabview-nav-container a.p-tabview-nav-link[aria-selected="true"] {
    color: var(--admss-app-primary);
    background: var(--admss-app-light-blue);
    border-radius: 0;
}
