.settings-export-web {
    .settings-export-web__key {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    table td {
        &:has(.settings-export-web__key) {
            width: 400px;
            max-width: 500px;
            min-width: 200px;
        }
        &:has(.settings-export-web__service) {
            width: 180px;
            max-width: 180px;
            min-width: 180px;
        }
    }
}
